.uk-tooltip {
    background: black;
    padding: 5px 10px;
    border-radius: 5px;
}

.btn {
    @include transition;
    box-shadow: 0 5px 25px rgba(0, 0, 0, .1);
    padding: 10px 15px;
    color: white;
    background: #1e87f0;
    border-radius: 5px;
    &:hover {
        text-decoration: none;                    
    }
    &.btn-workshop {
        background: $c-workshop;
        &:hover {
            color: $c-workshop;
            background: white;            
        }
    }
    &.btn-link {
        background: $c-link;
        &:hover {
            color: $c-link;
            background: white;            
        }
    }
}

