@import '../../../../../styles/vars';
@import '../../../../../styles/mixins';

.links {
    position: relative;
    overflow: hidden;
}

.add-link {
    @include transition;
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, .8);
    &.hidden {
        opacity: 0;
        z-index: -100;
    }
}

.add-link-form {
    @include transition;
    border-radius: 5px;
    position: absolute;
    width: 100%;
    opacity: 1;
    top: 0;
    transition: $transition-time all;
    textarea {
        height: 100px;
    }
    &.hidden {
        top: -100%;
    }
}