@import '../../../../../styles.scss';
a {
    .uk-card-default {
        transition: $transition-time all;
    }
    .uk-card {
        padding-right: 10%;
        overflow: hidden;
    }
    .uk-card-title {
        font-size: 1.2rem;
        color: #1e87f0;
    }
    .tags {
        span {
            background: rgba(0,0,0,.03);
            padding: 5px 10px;
            margin-right: 10px;
        }
    }
    .uk-card-title {
        font-weight: 600;
    }


    &:hover {
        text-decoration: none;
        .uk-card-default {
            transition: $transition-time all;
            background: #1e87f0;
        }
         .uk-card-title, .uk-text-meta {
            color: white;
        }
    }
}
.links {
    position: relative;
    overflow: hidden;
}

.add-link {
    @include transition;
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    background: rgba(255,255,255,.8);
    &.hidden {
        opacity: 0;
        z-index: -100;
    }
}

.add-link-form {
    @include transition;    
    border-radius: 5px;
    position: absolute;
    width: 100%;
    opacity: 1;
    top: 0;
    transition: $transition-time all;
    &.hidden {
        top: -100%;
    }
    textarea {
        height: 100px;
    }
}
