@import '../../../../../styles/vars';

i.fa {
    padding: 5px;
}
.uk-card {
    box-sizing: border-box;
    &:before {
        content: '';
        background-color: $c-workshop;
        position: absolute;
        width: 5px;
        height: 100%;
    }
}
